{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - alter_blocks_element_markup_wrapper_element: The HTML element to use for the wrapper container.
 * - alter_blocks_element_markup_label_element: The HTML element to use for the label.
 * - alter_blocks_element_markup_content_element: The HTML element to use for the content section.
 *
 * @see template_preprocess_block()
 * @see alter_blocks_element_markup_preprocess_block()
 *
 * @ingroup themeable
 */
#}
{# Start block wrapper #}
{% if alter_blocks_element_markup_element.wrapper != 'none' %}
  <{{ alter_blocks_element_markup_element.wrapper|default('div') }} {{ attributes }}>
{% endif %}
  {# Block label #}
  {{ title_prefix }}
  {% if label %}
    {% if alter_blocks_element_markup_element.label != 'none' %}
      <{{ alter_blocks_element_markup_element.label|default('p') }} {{ title_attributes }} role="heading" aria-level="2">
    {% endif %}
      {{ label }}
    {% if alter_blocks_element_markup_element.label != 'none' %}
      </{{ alter_blocks_element_markup_element.label|default('p') }}>
    {% endif %}
  {% endif %}
  {{ title_suffix }}

  {# Block content #}
  {% block content %}
    {% if alter_blocks_element_markup_element.content != 'none' %}
      <{{ alter_blocks_element_markup_element.content|default('div') }} {{ content_attributes }}>
    {% endif %}
      {{ content }}
    {% if alter_blocks_element_markup_element.content != 'none' %}
      </{{ alter_blocks_element_markup_element.content|default('div') }}>
    {% endif %}
  {% endblock %}

{# End block wrapper #}
{% if alter_blocks_element_markup_element.wrapper != 'none' %}
  </{{ alter_blocks_element_markup_element.wrapper|default('div') }}>
{% endif %}
